* {
  box-sizing: border-box;
}

*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}

ul {
  margin-left: -2em;
  list-style-type: none;
  list-style-position: outside;
}

.box {
  background-color: aquamarine;
}

[type="radio"] {
  display: none;
}
